@charset "utf-8";
/* CSS Document */
img {
	width: 20px;
	font-size: 10px;
	cursor: pointer;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif", "Ubuntu";
}
article  {
	background-color: #008DF4;
	width: 60px;
	height:30px;
	padding: 0px;
	cursor: wait;
	margin: 5px;
}
a {
	text-decoration: none;
	color: #000000;
}
p {
	color: blue;
}
.profile{
	width: 100px;
	float: justify;
}